.swiper-pagination-bullet {
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.70);
    opacity: 15%;
    vertical-align: middle;

    & > div {
        display: inline-block;
    }
}

.swiper-pagination-bullet-active {
    opacity: 80% !important;
    border: 5px solid rgba(0, 0, 0, 0.6);
    background: hsl(var(--primary));

    transition: all 0.3s ease-in-out;
}